.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: red;
}
.left {
height: 100vh;
background-color: aqua;
width: 20vw;
}
.right {
  height: 100vh;
}